{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="agenda.css">
{% end %}
{% block content %}
<div class="container">
	<div class="example">
		<h2 class="ui header">會議議程</h2>
		<div class="tab demo">
			<div class="ui secondary menu">
				<a data-tab="first" class="item active">總議程表</a>
				<a data-tab="second" class="item">分組議程</a>
				<a data-tab="third" class="item">超臨界研討會</a>
				<a data-tab="forth" class="item">兩岸層析會議</a>
			</div>
			<div data-tab="first" class="ui tab segment active">總議程表
			</div>
			<div data-tab="second" class="ui tab segment">分組議程
			</div>
			<div data-tab="third" class="ui tab segment">超臨界研討會
			</div>
			<div data-tab="forth" class="ui tab segment">兩岸層析會議
			</div>
		</div>
</div>
{% end %}
