{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="agenda.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="header">會議議程</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item active">總議程表</a>
			<a data-tab="second" class="item">分組議程</a>
			<a data-tab="forth" class="item">兩岸層析會議</a>
		</div>
		<div data-tab="first" class="ui tab segment active">
            <!--table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan=3 class="text-center">2015/11/5(四)</th>
                    </tr>
                    <tr>
                        <th colspan=3 class="text-center">第62th化工年會暨台日韓三國化工會議(義大皇家酒店)</th>
                    </tr>
                    <tr>
                        <th class="text-center">時間</th>
                        <th class="text-center">議程</th>
                        <th class="text-center">地點</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 15%;">16:00~20:00</td>
                        <td>報到</td>
                        <td>B1展場</td>
                    </tr>
                    <tr>
                        <td>18:30~20:30</td>
                        <td>TJK & TwIChE Fellows Welcome Reception</td>
                        <td>7F義大交誼廳</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan=7 class="text-center">2015/11/6(五)</th>
                    </tr>
                    <tr>
                        <th colspan=7 class="text-center">第62th化工年會暨台日韓三國化工會議(義大皇家酒店)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:30~10:00</td>
                        <td>報到</td>
                        <td colspan=4>B1展場</td>
                        <td rowspan=18>企業攤位壁報論文展(9:30~18:00)(B1，展覽中心)</td>
                    </tr>
                    <tr>
                        <td rowspan=3 style="width: 15%;">10:00~10:20<br/>年會開幕</td>
                        <td rowspan=3>
                            1. 主席致詞-化工學會 陳郁文理事長<br/>
                            2. 承辦單位致詞-義守大學 蕭介夫校長<br/>
                            3. 籌備委員會報告-義守大學化工系 吳俊毅主任
                        </td>
                        <td rowspan=6>6F，義大演講廳</td>
                        <td colspan=2>9:30~09:50</td>
                        <td rowspan=6>兩岸層析研討會 (7F，義大交誼廳)</td>
                    </tr>
                    <tr>
                        <td colspan=2>TJK開幕(6F，御廳)</td>
                    </tr>
                    <tr>
                        <td colspan=2>10:00~12:00</td>
                    </tr>
                    <tr>
                        <td>10:20~11:00</td>
                        <td>
                            4. 化工學會會務報告-化工學會 陳郁文理事長<br/>
                            5. 化工學會各獎項頒獎-化工學會 陳郁文理事長<br/>
                            6. 化工學會會士頒發-化工學會 陳郁文理事長
                        </td>
                        <td rowspan=3>TJK1<br>(6F，茗廳)</td>
                        <td rowspan=3>TJK2<br>(6F，樂廳)</td>
                    </tr>
                    <tr>
                        <td>11:00~11:50<br>貴賓演講</td>
                        <td>
                            台塑石化陳寶郎 董事長<br/>
                            <font color=red>頁岩油.氣對台灣石化產業之影響</font>
                        </td>
                    </tr>
                    <tr>
                        <td>11:50~12:00</td>
                        <td>合照</td>
                    </tr>
                    <tr>
                        <td>12:00~13:30</td>
                        <td>科技部化工學門座談(6F，御廳)；午餐時間</td>
                        <td colspan=4>2F，皇家宴會廳</td>
                    </tr>
                    <tr>
                        <td>13:30~15:00<br>主題演講</td>
                        <td>
                            李篤中教授(台)<br/>
                            <font color=red>Bioenergy/chemicals and Availability<br/></font>
                            Professor Shinji Hasebe (日)<br/>
                            <font color=red>Process Synthesis - The Key Role of Process Systems Engineering<br/></font>
                            Professor Dae-Won Park (韓)<br/>
                            <font color=red>Development of Heterogeneous Catalysts for the Synthesis of Cyclic Carbonates from Carbon Dioxide and Epoxides</font>
                        </td>
                        <td colspan=4 style="vertical-align:middle">6F，義大演講廳</td>
                    </tr>
                    <tr>
                        <td>15:00-15:20</td>
                        <td>茶敘時間</td>
                        <td colspan=4 >義大交誼廳7F /6F走道</td>
                    </tr>
                    <tr>
                        <td rowspan=6>15:20~18:00<br>Oral Session</td>
                        <td>TJK1: Energy and Environmental Engineering</td>
                        <td colspan=2>6F，茗廳</td>
                        <th colspan=2 rowspan=6>化工論壇-綠色化工製程(15:20~16:50)(6F，義大演講廳)</td>
                    </tr>
                    <tr>
                        <td>TJK2: Bio/Nano Materials</td>
                        <td colspan=2>6F，樂廳</td>
                    </tr>
                    <tr>
                        <td>A. 生化及生醫工程</td>
                        <td colspan=2>6F，貴賓宴會廳</td>
                    </tr>
                    <tr>
                        <td>B. 輸送現象及分離技術</td>
                        <td colspan=2>6F，御廳</td>
                    </tr>
                    <tr>
                        <td>C. 熱力及界面工程</td>
                        <td colspan=2>7F，論語廳</td>
                    </tr>
                    <tr>
                        <td>I. 學生英語專題報告競賽</td>
                        <td colspan=2>7F，孟子廳</td>
                    </tr>
                    <tr>
                        <td>17:00~18:00</td>
                        <td>系主任聯合會議 (主持人：王大銘教授)</td>
                        <td colspan=4>7F，中庸廳</td>
                    </tr>
                    <tr>
                        <td>18:30~20:00</td>
                        <td>晚宴</td>
                        <td colspan=4>2F，皇家宴會廳</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan=6 class="text-center">2015/11/7 (六)</th>
                    </tr>
                    <tr>
                        <th colspan=5 class="text-center">第62th化工年會暨台日韓三國化工會議(義大皇家酒店)</th>
                    </tr>
                    <tr>
                        <th class="text-center">時間</th>
                        <th class="text-center">議程</th>
                        <th colspan=3 class="text-center">地點</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:30~10:00</td>
                        <td>報到</td>
                        <td colspan=3 class="text-center">B1展場</td>
                    </tr>
                    <tr>
                        <td style="width: 15%;" rowspan=7>9:00~11:30<br/>Oral Session</td>
                        <td style="width: 30%">A. 生化及生醫工程</td>
                        <td style="width: 20%;">6F，貴賓宴會廳</td>
                        <td rowspan=7>化工論壇-化工與食安(9:00~10:30)(6F，義大演講廳)</td>
                        <td rowspan=7>企業攤位展暨壁報論文展(9:00~12:00) (B1，展覽中心)</td>
                    </tr>
                    <tr>
                        <td>D. CO2 Capture and Utilization</td>
                        <td>7F，義大交誼廳</td>
                    </tr>
                    <tr>
                        <td>E. 材料在化工上的應用</td>
                        <td>6F，御廳</td>
                    </tr>
                    <tr>
                        <td>F. 電化學技術</td>
                        <td>6F，樂廳</td>
                    </tr>
                    <tr>
                        <td>H. 觸媒及反應工程</td>
                        <td>7F，中庸廳</td>
                    </tr>
                    <tr>
                        <td>G. 綠色化工技術及程序系統工程</td>
                        <td>7F，論語廳</td>
                    </tr>
                    <tr>
                        <td>I. 學生英語專題報告競賽</td>
                        <td>7F，孟子廳</td>
                    </tr>
                    <tr>
                        <td>11:40~12:30</td>
                        <td>大會閉幕式<br/>閉幕報告、競賽頒獎及摸彩抽獎<br/>宣布下次會議主辦單位</td>
                        <td colspan=3 style="vertical-align: middle;">6F，義大演講廳</td>
                    </tr>
                    <tr>
                        <td>12:30~</td>
                        <td>賦歸</td>
                        <td colspan=3></td>
                    </tr>
                </tbody>
            </table-->
            <img src="/agenda_1.jpg" style="max-width: 100%">
            <img src="/agenda_2.jpg" style="max-width: 100%">
            <img src="/agenda_3.jpg" style="max-width: 100%">
            <a href="/agenda_pdf.pdf">化工年會議程.pdf</a>
		</div>
		<div data-tab="second" class="ui tab segment">
           近期公布
		</div>
		<div data-tab="forth" class="ui tab segment">
           近期公布
		</div>
	</div>
</div>
{% end %}
