{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" target="_blank" href="intro.css">
{% end %}
{% block content %}
<div class="example">
    <h2 class="ui header">贊助廠商</h2>
    <div class="tab demo">
        <div class="ui secondary menu">
            <a data-tab="first" class="item active">贊助廠商</a>
            <a data-tab="second" class="item">參展廠商</a>
            <a data-tab="third" class="item">廣告廠商</a>
            <a data-tab="forth" class="item">展場平面圖</a>
        </div>
        <div data-tab="first" class="ui tab segment active">
            <style>
            </style>
            <!--table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 70%; font-size: 18px;">廠商名稱</th>
                        <th class="text-center" style=" font-size: 18px;">公司網頁</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style=" font-size: 32px;">台精化學工業股份有限公司</td>
                        <td><a target="_blank" href="http://www.taichin.com/"><center><img src="/logo11.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">臺灣永光化學工業股份有限公司</td>
                        <td><a target="_blank" href="http://www.ecic.com.tw/"><center><img src="/logo12.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">新月圖書股份有限公司</td>
                        <td><a target="_blank" href="http://www.tunghua.com.tw/"><center><img src="/logo13.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">長春石油化學股份有限公司</td>
                        <td><a target="_blank" href="http://www.ccp.com.tw/"><center><img src="/logo14.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">中國人造纖維股份有限公司</td>
                        <td><a target="_blank" href="http://www.cmfc.com.tw/"><center><img src="/logo15.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                </tbody>
            </table-->
            <table border="0">
                <tbody>
                    <tr>
                        <td>台精化學工業股份有限公司<br><a target="_blank" href="http://www.taichin.com/"><img src="/logo11.png" style="max-width:50%;"/></a>
                        <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>臺灣永光化學工業股份有限公司<br><a target="_blank" href="http://www.ecic.com.tw/"><img src="/logo12.jpg" style="max-width:50%;"/></a>
                        <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>新月圖書股份有限公司<br><a target="_blank" href="http://www.tunghua.com.tw/"><img src="/logo13.jpg" style="max-width:50%;"/></a>
                        <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>長春石油化學股份有限公司<br><a target="_blank" href="http://www.ccp.com.tw/"><img src="/logo14.png" style="max-width:50%;"/></a>      <br><br><br><br>                   </td>
                       
                    </tr>
                    <tr>
                        <td>中國人造纖維股份有限公司<br><a target="_blank" href="http://www.cmfc.com.tw/"><img src="/logo15.png" style="max-width:50%;"/></a>    <br><br><br><br>                    </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-tab="second" class="ui tab segment">
            <!--table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 70%; font-size: 18px;">廠商名稱</th>
                        <th class="text-center" style=" font-size: 18px;">公司網頁</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style=" font-size: 32px;">瑞基海洋生物科技股份有限公司</td>
                        <td><a target="_blank" href="http://www.genereach.com/"><center><img src="/logo21.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">伯昂興業有限公司</td>
                        <td><a target="_blank" href="http://www.bertec.com.tw/"><center><img src="/logo22.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">頂生實業有限公司</td>
                        <td><a target="_blank" href="http://www.biotop.com.tw/"><center><img src="/logo23.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">友和貿易股份有限公司</td>
                        <td><a target="_blank" href="http://www.uni-onward.com.tw/"><center><img src="/logo24.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">頤華科技股份有限公司</td>
                        <td><a target="_blank" href="http://www.sartorius-ivorist.com.tw/"><center><img src="/logo25.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                </tbody>
            </table-->
            <table border="0">
                <tbody>
                    <tr>
                        <td>瑞基海洋生物科技股份有限公司<br><a target="_blank" href="http://www.genereach.com/"><img src="/logo21.png" style="max-width:50%;"/></a>
                            <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>伯昂興業有限公司<br><a target="_blank" href="http://www.bertec.com.tw/"><img src="/logo22.png" style="max-width:50%;"/></a>
                            <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>頂生實業有限公司<br><a target="_blank" href="http://www.biotop.com.tw/"><img src="/logo23.jpg" style="max-width:50%;"/></a>
                            <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>友和貿易股份有限公司<br><a target="_blank" href="http://www.uni-onward.com.tw/"><img src="/logo24.jpg" style="max-width:50%;"/></a>
                            <br><br><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>頤華科技股份有限公司<br><a target="_blank" href="http://www.sartorius-ivorist.com.tw/"><img src="/logo25.png" style="max-width:50%;"/></a>
                            <br><br><br><br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-tab="third" class="ui tab segment">
            <!--table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 70%; font-size: 18px;">廠商名稱</th>
                        <th class="text-center" style=" font-size: 18px;">公司網頁</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style=" font-size: 32px;">台灣神隆股份有限公司</td>
                        <td><a target="_blank" href="http://www.scinopharm.com.tw/"><center><img src="/logo31.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">台橡股份有限公司</td>
                        <td><a target="_blank" href="http://www.tsrc.com.tw/"><center><img src="/logo32.jpg" style="max-width:50%;"/></center></a></td>
                    </tr>
                    <tr>
                        <td style=" font-size: 32px;">珀金埃爾默股份有限公司</td>
                        <td><a target="_blank" href="http://www.perkinelmer.com/"><center><img src="/logo33.png" style="max-width:50%;"/></center></a></td>
                    </tr>
                </tbody>
            </table-->
            <table>
                <tbody>
                    <tr>
                        <td>
                            台灣神隆股份有限公司<br><a target="_blank" href="http://www.scinopharm.com.tw/"><img src="/logo31.jpg" style="max-width:50%;"/></a>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>台橡股份有限公司<br><a target="_blank" href="http://www.tsrc.com.tw/"><img src="/logo32.jpg" style="max-width:50%;"/></a>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>珀金埃爾默股份有限公司<br><a target="_blank" href="http://www.perkinelmer.com/"><img src="/logo33.png" style="max-width:50%;"/></a>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-tab="forth" class="ui tab segment">
            <img src="/company-img.jpg" style="max-width: 100%;" />
        </div>
    </div>
</div>
{% end %}
