{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
    <h2 class="ui header">贊助廠商</h2>
    <div class="tab demo">
        <div class="ui secondary menu">
            <a data-tab="first" class="item active">贊助廠商</a>
            <a data-tab="second" class="item">參展廠商</a>
            <a data-tab="third" class="item">廣告廠商</a>
            <a data-tab="forth" class="item">展場平面圖</a>
        </div>
        <div data-tab="first" class="ui tab segment active">
            <style>
            </style>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>廠商名稱</th>
                        <th>LOGO</th>
                        <th>網址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>台精化學工業股份有限公司</td>
                        <td><center><img src="/logo11.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.taichin.com/">http://www.taichin.com/</a></td>
                    </tr>
                    <tr>
                        <td>臺灣永光化學工業股份有限公司</td>
                        <td><center><img src="/logo12.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.ecic.com.tw/">http://www.ecic.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>新月圖書股份有限公司</td>
                        <td><center><img src="/logo13.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.tunghua.com.tw/">http://www.tunghua.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>長春石油化學股份有限公司</td>
                        <td><center><img src="/logo14.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.ccp.com.tw/">http://www.ccp.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>中國人造纖維股份有限公司</td>
                        <td><center><img src="/logo15.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.cmfc.com.tw/">http://www.cmfc.com.tw/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-tab="second" class="ui tab segment">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>廠商名稱</th>
                        <th>LOGO</th>
                        <th>網址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>瑞基海洋生物科技股份有限公司</td>
                        <td><center><img src="/logo21.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.genereach.com/">http://www.genereach.com/</a></td>
                    </tr>
                    <tr>
                        <td>伯昂興業有限公司</td>
                        <td><center><img src="/logo22.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.bertec.com.tw/">http://www.bertec.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>頂生實業有限公司</td>
                        <td><center><img src="/logo23.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.biotop.com.tw/">http://www.biotop.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>友和貿易股份有限公司</td>
                        <td><center><img src="/logo24.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.uni-onward.com.tw/">http://www.uni-onward.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>頤華科技股份有限公司</td>
                        <td><center><img src="/logo25.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.sartorius-ivorist.com.tw/">http://www.sartorius-ivorist.com.tw/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-tab="third" class="ui tab segment">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>廠商名稱</th>
                        <th>LOGO</th>
                        <th>網址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>台灣神隆股份有限公司</td>
                        <td><center><img src="/logo31.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.scinopharm.com.tw/">http://www.scinopharm.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>台橡股份有限公司</td>
                        <td><center><img src="/logo32.jpg" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.tsrc.com.tw/">http://www.tsrc.com.tw/</a></td>
                    </tr>
                    <tr>
                        <td>珀金埃爾默股份有限公司</td>
                        <td><center><img src="/logo33.png" style="max-width:100%;"/></center></td>
                        <td><a href="http://www.perkinelmer.com/">http://www.perkinelmer.com/</a></td>
                    </tr>
                </tbody>
            </table>
            近期公布
        </div>
        <div data-tab="forth" class="ui tab segment">
            近期公布
        </div>
    </div>
</div>
{% end %}
