{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">參展廠商</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item active">廠商資訊</a>
			<a data-tab="second" class="item">展場平面圖</a>
			<a data-tab="third" class="item">參展廠商報名</a>
		</div>
		<div data-tab="first" class="ui tab segment active">廠商資訊
		</div>
		<div data-tab="second" class="ui tab segment">展場平面圖
		</div>
		<div data-tab="third" class="ui tab segment">參展廠商報名
		</div>
	</div>
</div>
{% end %}
