{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="paper.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">英語競賽</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item">競賽規定</a>
			<a data-tab="third" class="item active">競賽議程</a>
			<a data-tab="fourth" class="item">分組名單</a>
		</div>
		<div data-tab="first" class="ui tab segment">
			<h2>學生英語專題報告競賽規定：</h2>
			1.報名資格：凡註冊年會之在學學生，<font color=red>若報名人數過多，將優先接受博士班學生參賽。</font><br>
			2.報名者需先從大會網址繳交英文論文(格式如大會投稿論文格式)，另於會中進行口頭簡報及接受評審提問。<br>
			3.在每場報告競賽中，報告內容、答問及簡報表現評優異者將頒發以下獎項：<br>
			<blockquote>
				優勝：數名 頒發獎金1000元及獎狀乙紙。<br>
				佳作：數名 每名頒發獎狀乙紙。<br>
			</blockquote>
			4.得獎者須將報告檔案(PPT或PDF)留給<font color=red>2015</font>化工年會建檔，簽署同意授權書，無任何條件同意授權本年會刊登於論文集與科技部虛擬展場中。<br>
			5.為了競賽公平起見，參賽者須注意以下規定：<br>
			<blockquote>
			分組名單、競賽場次、報告次序及地點會事先公告於網站，請參賽者參考大會網頁-最新消息。<br>
			</blockquote>
			6.競賽時間<font color=red>11月6日(五) 下午15:20~18:00及11月7日(六)上午09:00~11:20。</font><br>
			7.競賽場地為：<font color=red>義大皇家酒店7F孟子廳、論語廳。</font><br>
			<blockquote>
				參賽者於比賽前提早15分鐘到達比賽會場，<font color=red>並在比賽日前一天將PPT演講資料及手機號碼寄至hjtai@isu.edu.tw,若檔案過大請提供下載連結，以利及時存至大會電腦。</font><br>
				每人報告時間為10分鐘 (<font color=red>含簡報8.5分鐘，1.5分鐘為問答時間</font>)。<br>
				響鈴一聲代表已經報告7分鐘。<br>
				響鈴二聲代表報告時間結束(<font color=red>8.5分鐘</font>)，競賽者必須停止報告。<br>
			</blockquote>
			8.評分標準：研究架構及內涵40% (研究創新性、完整性、深入程度等)、報告組織及結構20%、報告技巧及答辯40% (投影片製作、報告禮儀、時間控制、英語表達及答辯能力等)。<br>
			9.請參與競賽學生提供學生證，以利於工作人員確認學生身份。<br>
			10.如有相關問題，請與 <font color=red>戴宏哲教授聯繫 e-mail: hjtai@isu.edu.tw；電話：07-6577711分機 3428</font><br>
		</div>
		<div data-tab="third" class="ui tab segment active">競賽議程
		</div>
		<div data-tab="fourth" class="ui tab segment">分組名單
		</div>
	</div>
</div>
{% end %}
