{% extends '../http/index.html' %}
{% block content %}
<style>
blockquote{
    font-size: 16px;
}
</style>
<script src="/jquery.flexslider-min.js"></script>
<link rel="stylesheet" type="text/css" href="/flexslider.css">
<script>
$(document).ready(function(){
    $('.flexslider').flexslider({animation: "slide"});
});
</script>
<div style="margin-bottom: 10px;" class="flexslider">
    <ul class="slides">
						<li>
						<img src="/image001.png" />
						</li>
						<li>
						<img src="/image002.png" />
						</li>
						<li>
						<img src="/image003.png" />
						</li>
						<li>
						<img src="/image004.png" />
						</li>
						<li>
						<img src="/image005.png" />
						</li>

    </ul>
</div>
<!--div class="ui segment" style="" >
    <p>各位學術界先進好：</p>
    <p>「第六十二屆台灣化工學會年會暨科技部化工學門成果發表會」與 「台日韓三國化工聯合會議」，將於2015年11月5日-11月7日在義守大學旁「義大皇家酒店」(高雄市大樹區學城路一段153號)召開，由義守大學化工系承辦，敬邀各界專家學者踴躍投稿參加。</p>
    <p>年會網址：<a href="http://twiche2015.isu.edu.tw/">http://twiche2015.isu.edu.tw/</a></p>
    <h3>會議內容</h3>
    1場大會演講，由台塑石化陳寶郎董事長發表：「頁岩油.氣對台灣石化產業之影響」；<br/>
    2場企業論壇：「綠色化工製程」「化工與食品安全」由企業主分享經驗與想法：<br/>
    3場主題演講分別由
    <blockquote>
        (1) 台灣科技大學副校長李篤中教授發表「Bioenergy/chemicals and Availability」<br/>
        (2) 日本京都大學Shinji Hasebe教授發表「Process Synthesis - The Key Role of Process Systems Engineering」<br/>
        (3) 韓國釜山大學Dae-Won Park教授發表「Development of Heterogeneous Catalysts for the Synthesis of Cyclic Carbonates from Carbon Dioxide and Epoxides」<br/>
    </blockquote>
    多場學術研究成果發表，將邀請專家學者進行專題報告；同時舉辦博士班學生英語口頭論文競賽與超過800篇精彩壁報論文。
    <br/>
    <br/>
    <h3>投稿須知</h3>
    <blockquote>
        1. 國內專家學者與研究生得就研討成果選擇參加「第六十二屆台灣化工學會年會暨科技部化工學門成果發表會」或「台日韓三國化工聯合會議」的論文發表領域進行壁報論文發表，註冊費用均相同。請先報名，再行投稿，早鳥報名期限為2015年8月31日前。<br/>
        2. 配合國際會議舉辦，論文投稿為300 字以內英文摘要。<br>
        3. 論文發表採「口頭報告」、「博士班學生論文英文口頭報告競賽」與「壁報發表」三種方式，口頭報告為邀請制，一般投稿均以英文壁報張貼方式為之，博士班學生可選擇「學生論文英文口頭報告競賽」發表研究成果。<br/>
        4. 「壁報論文發表」與「博士班學生論文英文口頭報告競賽」經評選後，將依參加人數比例選出特優獎及優等獎數名。
    </blockquote>
    <h3>論文成果發表領域</h3>
    「第六十二屆台灣化工學會年會暨科技部化工學門成果發表會」
    <blockquote>
        1. 生化及生醫工程<br>
        2. 輸送現象及分離技術<br>
        3. 熱力及界面工程<br>
        4. 二氧化碳補存與利用<br>
        5. 材料在化工上的應用<br>
        6. 電化學技術<br>
        7. 觸媒及反應工程<br>
        8. 綠色化工技術及程序系統工程<br>
        9. 博士班學生英語專題報告競賽<br>
    </blockquote>
    「台日韓三國化工聯合會議」special session
    <blockquote>
        1. TJK1: Energy and Environmental Engineering<br>
        2. TJK2: Bio/Nano Materials
    </blockquote>
    <h3>重要時程</h3>
    第一階段優惠報名期限：2015年8月31日(一)前<br>
    第二階段報名日期：2015年9月1日(二) ~ 2015年9月30日(三)<br>
    摘要收件截止日期：2015年9月15日(二)<br>
    審查結果通知日期：2015年9月30日(三)<br>
</div-->
<div class="ui segment">
    <img src="/index_1.jpg" style="max-width: 100%;">
    <!--img src="/index_1_2.jpg" style="max-width: 100%;"-->
</div>
{% end %}
