{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">年會介紹</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item active">年會介紹</a>
			<a data-tab="second" class="item">籌備組織</a>
			<a data-tab="third" class="item">年會海報</a>
		</div>
		<div data-tab="first" class="ui tab segment active">
            <p>台灣化學工程學會已有一甲子的歷史，會員人數眾多，遍佈社會各行業，影響力深遠，每年的「台灣化工學會年會」是學會中一項重要的活動。藉由「化工學門研究成果發表會」分享研究成果，進行學術專題報告，不僅增進化工學門各領域間學術交流，更促進化工領域相關產、官、學、研各界間的互動與交換新知，提昇國家整體科技之發展。「台日韓三國化工聯合會議」已有二十年的歷史，旨在促進三國化工產學研三方的交流與學術互動，每兩年舉辦一次，今年由台灣化學工程學會主辦。「2015年台灣化學工程學會年會」暨「科技部化工學門成果發表會」暨「台日韓三國化工聯合會議」，將由義守大學化工學系承辦，假高雄市義大皇家酒店舉辦，預計將有1000人以上參加盛會。<br/></p>
            <p>「2015化工年會」與「學門研究成果發表」暨「台日韓化工會議」將聯合舉辦，包含會員大會、大會演講(Plenary Lecture)、三場主題演講(Keynote Speech)、三十二場次的邀請學術論文發表、兩場化工產業論壇及800篇以上之壁報論文。學術論文發表包含輸送現象與分離工程、程序系統工程與化工安全、電化學、熱力學與界面化學、微(奈)米材料與工程、光電材料、觸媒與反應工程及永續能源、生化及生醫工程與綠色製程等八項子題。兩場產業論壇將著重於「頁岩經濟」與「綠色化工」兩項熱門議題。期望透過本次會議，能獲得本國化工界官、產、學研與國際業界學者專家的討論與凝聚共識，為台灣化工產業尋求最佳的努力方向，激盪出未來發展的新出路，引領化工業邁入新世紀。<br/></p>
            <p>新世紀的化工領域包羅萬象，除了傳統的石化產業外，舉凡生化科技、光電及半導體工業、永續能源、綠色工程、奈米科學和特用化學品等高科技產業，都與化學工程有關。這些科技產業的發展不但與日常生活息息相關，也與國家的經濟展望密不可分，因此化工科技是工程科技中極重要的一環。每年舉辦的化工年會吸引產、官、學、研各界人士積極參與交流，發表最新的研發成果，不只促進化工科技新知的推廣，協助化工教育的推展，更進而提升各界對於最新化工技術及其相關產業的認識，有助於產業升級，增加國家的競爭力。<br/></p>

		</div>
		<div data-tab="second" class="ui tab segment">
            近期公布
		</div>
		<div data-tab="third" class="ui tab segment">
            近期公布
		</div>
	</div>
</div>
	{% end %}
