{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/manage-sign.css">
<script>
function init(){
	alert('init');
}
</script>
{% end %}
{% block content %}
<div class="container">
	<div class="form-signin" role="form">
		<h2 class="form-signin-heading"></h2>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</div>
</div>
{% end %}
