{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="paperupload.css">
<script src="/alertify.min.js"></script>
<link rel="stylesheet" href="/alertify.core.css" />
<link rel="stylesheet" href="/alertify.default.css" />
{% end %}
{% block content %}
<script>
function progress(e){
	var bar=$('div.progress-bar');
	var percent=100*e.loaded/e.total;
	bar.css('width',percent+'%');
	bar.attr('aria-valuenow',parseInt(percent.toString(),10));
	bar.text(percent+'%');
}
$(document).ready(function(){
    $('button.submit').click(function(){
        var topic = $('select.topic').val();
        var title = $('input.title').val();
        var op = $('input[name=op]:checked').val();
        var num = $('input.number').val();
        var author = $('input.author').val();
        var file =document.getElementById('file');
        if(title == ''){
            alert('請輸入論文名稱');
            return;
        }else if(author == ''){
            alert('請輸入作者');
            return;
        }else if(typeof(op) == 'undefined'){
            alert('請選擇發表方式');
            return;
        }
        
		var formdata=new FormData($('form')[0]);
		$.ajax({
			url: '/paperupload',
			type: 'POST',
			xhr: function() {
				var myXhr = $.ajaxSettings.xhr();
				if(myXhr.upload){
					myXhr.upload.addEventListener('progress',progress, false);
				}
				return myXhr;
			},
			beforeSend: function(){},
			success: function(res){
                if(res[0] == 'E'){
                    if(res == 'Enofile'){
                        alert('請選擇檔案');
                        return;
                    }else{
                        alert('something error');
                    }
                }else{
                    alert('成功上傳');
                }
			},
			error: function(){},
			data: formdata,
			cache: false,
			contentType: false,
			processData: false
		});
    });
});
</script>
	<form class="form-upload">
		{% if abstract == None %}
		<h2 class="form-heading">論文摘要上傳</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan=2>請以英文填寫</th>
				</tr>
			</thead>
			<tbody id="paperupload">
				<tr>
					<td>主題*</td>
					<td>
						<select class="form-control  topic" name="topic">
							<option value="A. Biochemical and Biomedical Engineering" >A. Biochemical and Biomedical Engineering</option>
							<option value="B. Transport Phenomena and Separation Technology" >B. Transport Phenomena and Separation Technology</option>
							<option value="C. Thermodynamics and Interface Technology" >C. Thermodynamics and Interface Technology</option>
							<option value="D. Energy Technology" >D. Energy Technology</option>
							<option value="E. Material Science" >E. Material Science </option>
							<option value="F. Electochemical Technology" >F. Electochemical Technology</option>
							<option value="G. Green Chemical Technology and System Engineering" >G. Green Chemical Technology and System Engineering</option>
							<option value="H. Catalysis and Reaction Engineering" >H. Catalysis and Reaction Engineering</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>論文名稱*</td>
					<td><input class="form-control title" name="title"></input></td>
				</tr>
				<tr>
					<td>發表方式*</td>
					<td>
                        <input type="radio" name="op" value="o"></input>英文競賽
                        <input type="radio" name="op" value="p"></input>海報
                    </td>
				</tr>
				<tr>
					<td>計畫編號</td>
					<td><input class="form-control number" name="number"></input></td>
				</tr>
                <tr>
                    <td>作者姓名*</td>
                    <td><input class="form-control author" name="author"></input></td>
                </tr>
				<tr>
					<td>摘要上傳*</td>
                    <td><input name="attach" id="attach" type="file"></input></td>
				</tr>
			</tbody>
		</table>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			</div>
		</div>
		<button  type="button" class="btn btn-primary submit" style="float: left;">送出</button>
		<div style="float: left; margin-left: 10px; color: red;" class="print"></div>
		{% else %}
		<h2 class="form-heading">論文摘要上傳</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan=2>請以英文填寫</th>
				</tr>
			</thead>
			<tbody id="paperupload">
				<tr>
					<td>主題*</td>
					<td>
						<select class="form-control  topic" name="topic">
							<option value="A. Biochemical and Biomedical Engineering" {% if abstract['topic'] == 'A. Biochemical and Biomedical Engineering' %}selected{% end %}>A. Biochemical and Biomedical Engineering</option>
							<option value="B. Transport Phenomena and Separation Technology" {% if abstract['topic'] == 'B. Transport Phenomena and Separation Technology' %}selected{% end %}>B. Transport Phenomena and Separation Technology</option>
							<option value="C. Thermodynamics and Interface Technology" {% if abstract['topic'] == 'C. Thermodynamics and Interface Technology' %}selected{% end %}>C. Thermodynamics and Interface Technology</option>
							<option value="D. Energy Technology" {% if abstract['topic'] == 'D. Energy Technology' %}selected{% end %}>D. Energy Technology</option>
							<option value="E. Material Science" {% if abstract['topic'] == 'E. Material Science' %}selected{% end %}>E. Material Science </option>
							<option value="F. Electochemical Technology" {% if abstract['topic'] == 'F. Electochemical Technology' %}selected{% end %}>F. Electochemical Technology</option>
							<option value="G. Green Chemical Technology and System Engineering" {% if abstract['topic'] == 'G. Green Chemical Technology and System Engineering' %}selected{% end %}>G. Green Chemical Technology and System Engineering</option>
							<option value="H. Catalysis and Reaction Engineering" {% if abstract['topic'] == 'H. Catalysis and Reaction Engineering' %}selected{% end %}>H. Catalysis and Reaction Engineering</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>論文名稱*</td>
					<td><input class="form-control title" value={{ abstract['title'] }} name="title"></input></td>
				</tr>
				<tr>
					<td>發表方式*</td>
					<td>
                        <input type="radio" name="op" value="o" {% if abstract['op'] == 'o'%}checked{% end %}></input>英文競賽
                        <input type="radio" name="op" value="p" {% if abstract['op'] == 'p'%}checked{% end %}></input>海報
                    </td>
				</tr>
				<tr>
					<td>計畫編號</td>
					<td><input class="form-control number" value="{{ abstract['number'] }}" name="number"></input></td>
				</tr>
                <tr>
                    <td>作者姓名*</td>
                    <td><input class="form-control author" name="author" value="{{ abstract['author'] }}"></input></td>
                </tr>
				<tr>
					<td>摘要上傳*</td>
                    <td><input id="attach" type="file" name="attach"></input> (若不做更改請勿上傳檔案)</td>
				</tr>
			</tbody>
		</table>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			</div>
		</div>
		<button  type="button" class="btn btn-primary submit" style="float: left;">送出</button>
		<div style="float: left; margin-left: 10px; color: red;" class="print"></div>
		{% end %}
	</form>
{% end %}
