{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="paperupload.css">
<script src="/alertify.min.js"></script>
<link rel="stylesheet" href="/alertify.core.css" />
<link rel="stylesheet" href="/alertify.default.css" />
{% end %}
{% block content %}
<script>
function progress(e){
	var bar=$('div.progress-bar');
	var percent=100*e.loaded/e.total;
	bar.css('width',percent+'%');
	bar.attr('aria-valuenow',parseInt(percent.toString(),10));
	bar.text(percent+'%');
}
$(document).ready(function(){
    var submited=false;
    $('button.submit').click(function(){
        if(submited==true){
            return false;
        }
        submited=true;
        var topic = $('select.topic').val();
        var title = $('input.title').val();
        var op = $('input[name=op]:checked').val();
        var affiliation = $('input[name=affiliation]').val();
        var num = $('input.number').val();
        var author = $('input.author').val();
        var attach =document.getElementById('attach');
        var copyright =document.getElementById('copyright');
        if(title == ''){
            alert('請輸入論文名稱');
            return;
        }else if(author == ''){
            alert('請輸入作者');
            return;
        }else if(affiliation == ''){
            alert('請輸入機構英文名稱');
            return;
        }else if(typeof(op) == 'undefined'){
            alert('請選擇發表方式');
            return;
        }else if(typeof(attach.files[0])=='undefined'||typeof(copyright.files[0])=='undefined'){
            alert('請選擇檔案');
            return;
        }
		var formdata=new FormData($('form')[0]);
		$.ajax({
			url: '/paperupload',
			type: 'POST',
			xhr: function() {
				var myXhr = $.ajaxSettings.xhr();
				if(myXhr.upload){
					myXhr.upload.addEventListener('progress',progress, false);
				}
				return myXhr;
			},
			beforeSend: function(){},
			success: function(res){
                if(res[0] == 'E'){
                    if(res == 'Enofile'){
                        alert('請選擇檔案');
                        return;
                    }else{
                        alert('something error');
                    }
                }else{
                //alert(res);
                $('#form').html(res);
                }
			},
			error: function(){},
			data: formdata,
			cache: false,
			contentType: false,
			processData: false
		});
    });
});
</script>
	<form class="form-upload" id="form">
		{% if abstract == None %}
		<h2 class="form-heading">論文摘要上傳</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan=2>請以英文填寫</th>
				</tr>
			</thead>
			<tbody id="paperupload">
				<tr>
					<td>主題*</td>
					<td>
                    {% set topic = ['A.生化及生醫工程', 'B.輸送現象及分離技術', 'C.熱力及界面工程', 'D.材料在化工上的應用', 'E.電化學技術', 'F.觸媒及反應工程', 'G.綠色化工技術及程序工程', 'H.博士生英語專題報告競賽' ,'I.減碳淨煤', 'TKJ1: Energy and Environmental Engineering', 'TKJ2: Bio/Nano Materials'] %}
						<select class="form-control  topic" name="topic">
                            {% for t in topic %}
                            <option value="{{t}}" >{{t}}</option>
                            {% end %}
						</select>
					</td>
				</tr>
				<tr>
					<td>論文名稱*</td>
					<td><input class="form-control title" name="title"></input></td>
				</tr>
				<tr>
					<td>發表方式*</td>
					<td>
                        <input type="radio" name="op" value="o"></input>英文競賽
                        <input type="radio" name="op" value="p"></input>海報
                        <input type="radio" name="op" value="i"></input>邀請演講
                    </td>
				</tr>
				<tr>
					<td>機構英文名稱*</td>
					<td><input class="form-control affiliation"  name="affiliation"></input></td>

				</tr>
				<tr>
					<td>計畫編號<br>(如為科技部計畫，務必填寫)</td>
					<td><input class="form-control number" name="number"></input></td>
				</tr>
                <tr>
                    <td>所有作者英文姓名*</td>
                    <td><input class="form-control author" name="author" ></input></td>
                </tr>
				<tr>
					<td>摘要上傳* (請以.doc/.docx上傳)</td>
                    <td><input name="attach" id="attach" type="file"></input></td>
				</tr>
				<tr>
					<td>授權書上傳* (簽名掃瞄後，以pdf檔上傳)</td>
					<td><input type="file" name="copyright" id="copyright"></input></td>
				</tr>
			</tbody>
		</table>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			</div>
		</div>
		<button  type="button" class="btn btn-primary submit" style="float: left;">送出</button>
		<div style="float: left; margin-left: 10px; color: red;" class="print"></div>
		{% else %}
		<h2 class="form-heading">論文摘要上傳</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan=2>請以英文填寫</th>
				</tr>
			</thead>
			<tbody id="paperupload">
				<tr>
					<td>子領域主題*</td>
					<td>
                    {% set topic = ['A.生化及生醫工程', 'B.輸送現象及分離技術', 'C.熱力及界面工程', 'D.材料在化工上的應用', 'E.電化學技術', 'F.觸媒及反應工程', 'G.綠色化工技術及程序工程', 'H.博士生英語專題報告競賽' ,'I.減碳淨煤', 'TKJ1: Energy and Environmental Engineering', 'TKJ2: Bio/Nano Materials'] %}
						<select class="form-control  topic" name="topic">
                            {% for t in topic %}
                            <option value="{{t}}" {% if abstract['topic'] == t %}selected{% end %}>{{t}}</option>
                            {% end %}
						</select>
					</td>
				</tr>
				<tr>
					<td>論文英文題目*</td>
					<td><input class="form-control title" value={{ abstract['title'] }} name="title"></input></td>
				</tr>
				<tr>
					<td>發表方式*</td>
					<td>
                        <input type="radio" name="op" value="o" {% if abstract['op'] == 'o'%}checked{% end %}></input>英文競賽
                        <input type="radio" name="op" value="p" {% if abstract['op'] == 'p'%}checked{% end %}></input>海報
                        <input type="radio" name="op" value="i" {% if abstract['op'] == 'i'%}checked{% end %}></input>邀請演講
                    </td>
				</tr>
				<tr>
					<td>機構英文名稱*</td>
                    <td><input class="form-control affiliation" value="{{abstract['affiliation']}}" name="affiliation"></input></td>

				</tr>
				<tr>
                    <td>計畫編號<br>(如為科技部計畫，務必填寫)</td>
					<td><input class="form-control number" value="{{ abstract['number'] }}" name="number"></input></td>
				</tr>
                <tr>
                    <td>所有作者英文姓名*</td>
                    <td><input class="form-control author" name="author" value="{{ abstract['author'] }}"></input></td>
                </tr>
				<tr>
					<td>摘要上傳* (請以.doc/.docx上傳)</td>
                    <td><input id="attach" type="file" name="attach"></input></td>
				</tr>
				<tr>
					<td>授權書上傳* (簽名掃描後，請以pdf檔上傳)</td>
					<td><input type="file" name="copyright" id="copyright"></input></td>
				</tr>
			</tbody>
		</table>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			</div>
		</div>
		<button  type="button" class="btn btn-primary submit" style="float: left;">送出</button>
		<div style="float: left; margin-left: 10px; color: red;" class="print"></div>
		{% end %}
	</form>
{% end %}
