{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="register.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">報名註冊</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item active">報名與註冊繳費說明</a>
			<a href="/indivisualreg" class="item">線上報名系統</a>
		</div>
		<div data-tab="first" class="ui tab segment active">
           近期公布
		</div>
		<div data-tab="second" class="ui tab segment">
			<a href="/indivisualreg">線上個人報名系統</a>
		</div>
	</div>
</div>
{% end %}
