{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="register.css">
{% end %}
{% block content %}
<div class="container">
	<div class="example">
		<h2 class="ui header">廣告贊助</h2>
		<div class="tab demo">
			<div class="ui secondary menu">
				<a data-tab="first" class="item active">企業贊助說明</a>
				<a data-tab="second" class="item">廠商一覽表</a>
			</div>
			<div data-tab="first" class="ui tab segment active">企業贊助說明
			</div>
			<div data-tab="second" class="ui tab segment">廠商一覽表
			</div>
		</div>
</div>
{% end %}
