{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="">
    <h2>高雄義大皇家酒店:840 高雄市大樹區學城路一段153號  <a target="_blank" href="https://www.google.com.tw/maps/place/%E9%AB%98%E9%9B%84%E7%BE%A9%E5%A4%A7%E7%9A%87%E5%AE%B6%E9%85%92%E5%BA%97/@22.729572,120.402237,17z/data=!3m1!4b1!4m2!3m1!1s0x346e111b5b196061:0xe62b2dbb40057517?hl=zh-TW">(地圖)</a></h2>
    <br>
    <h2>台灣高鐵<a target="_blank" href="http://www.thsrc.com.tw/index.html?force=1">(高鐵網址)</a></h2>
    <blockquote>
        <h3>高鐵左營站下車</h3>
        <blockquote>
            <ol>
                <li>搭計程車（約14公里，行車約30分鐘，車資約350元）。</li>
                <li>高鐵左營站有接駁車(免費)，可以到皇家酒店。</li>
            </ol>
        </blockquote>
        <h3>楠梓火車站下車</h3>
        <blockquote>
            楠梓火車站有交通車，可以到義大世界。
        </blockquote>
        <h3>義大客運<a target="_blank" href="http://www.edaroyal.com.tw/dispPageBox/CPNCT01W.aspx?ddsPageID=EDACHOVERVIEW7&">(資料來源)</a></h3>
        <blockquote>
            <p>
                左營高鐵站前往義大世界，單程約15.5公里；行駛時間尖峰約35分鐘，離峰約25分鐘。<br>
                8501【左營高鐵站→義大世界】 乘車處：高鐵2號出口3號站牌<br>
                8501【義大世界→左營高鐵站】 乘車處：皇家酒店站1 (飯店大廳，僅有部分班次停靠)、皇家酒店站2 (購物廣場A區)、義大世界站(購物廣場C區) <br>
                <a href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8501.jpg" target="_blank">【左營高鐵站←→義大世界】義大客運行駛路徑下載</a><br>
                <a href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8501time.pdf" target="_blank">【左營高鐵站←→義大世界】義大客運時刻表下載</a><br>
            </p>
            <p>
                8502【高雄美術館站→義大世界】 乘車處：高雄市鼓山區美術東二路上(位於美術東一路與美術東三路中間)<br>
                8502【義大世界→高雄美術館站】 乘車處：義大世界站 (購物廣場C區)、皇家酒店站2 (購物廣場A區)、捷運凹子底站、高雄美術館站(位於美術東一路與美術東三路中間)<br>
                <a target="_blank" href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8502.jpg">【高雄美術館站←→義大世界】義大客運行駛路徑下載</a><br>
                <a target="_blank" href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8502time.jpg">【高雄美術館站←→義大世界】義大客運時刻表下載</a><br>
            </p>
            <p>
                8503【高雄市政府站→義大世界】 乘車處：市政大樓站(四維三路2號門口候車亭)<br>
                8503【義大世界→高雄市政府站】 乘車處：義大世界站 (購物廣場C區)、皇家酒店站2 (購物廣場A區)、高雄文化中心站、高雄市政府站(四維三路2號門口候車亭)<br>
                <a target="_blank" href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8503.jpg">【高雄市政府站←→義大世界】義大客運行駛路徑下載</a><br>
                <a target="_blank" href="http://www.edaroyal.com.tw/dispUploadBox/downloads/8503time.jpg">【高雄市政府站←→義大世界】義大客運時刻表下載</a><br>
            </p>
            <p>
                8506【楠梓火車站→義大世界】乘車處：皇家酒店站2 (購物廣場A區)、義守大學站(義守大學候車亭)、義大世界站 (購物廣場C區)<br>
                <a target="_blank" href="http://www.edabus.com.tw/iframe_Info_Routetable/Routetable06.htm#explain02">【楠梓火車站←→義大世界】義大客運行駛路徑下載</a><br>
                <a target="_blank" href="http://www.edabus.com.tw/Information_Timetable.aspx">【楠梓火車站←→義大世界】義大客運時刻表下載</a><br>
            </p>
        </blockquote>
    </blockquote>
    <h2>自行開車：(資料來源)</h2>    
    <blockquote>
        <h3>[南下]</h3>
        <blockquote>
            <h3>國道1號 中山高速公路</h3>
            <blockquote>
                <p>鼎金交流道 → 國道10號往仁武方向 → 下仁武交流道 → 至186線(水管路) →接高52線(義大二路) → 學城路一段，即可至義大世界。</p>
            </blockquote>
            <h3>國道3號 高速公路</h3>
            <blockquote>
                <p>燕巢交流道 → 國道10號往高雄方向 → 下仁武交流道 → 至186線(水管路) →接高52線(義大二路) → 學城路一段，即可至義大世界。</p>
            </blockquote>
        </blockquote>
        <h3>[北上]</h3>
        <blockquote>
            <h3>國道1號 中山高速公路</h3>
            <blockquote>
                <p>鼎金交流道 → 國道10號往仁武方向 → 下仁武交流道 → 至186線(水管路) →接高52線(義大二路) → 學城路一段，即可至義大世界。</p>
            </blockquote>
            <blockquote>
            <h3>國道3號 高速公路</h3>
                <p>燕巢交流道 → 國道10號往高雄方向 → 下仁武交流道 → 至186線(水管路) →接高52線(義大二路) → 學城路一段，即可至義大世界。</p>
            </blockquote>
        </blockquote>
    </blockquote>
    <center><img src="/router.jpg" class="img-responsive"></center>
</div>
{% end %}
