{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">義大皇家酒店</h2>
    <p>義大皇家酒店，環抱觀音山綿延綠意明媚風光，是全台唯一結合休閒度假飯店、大型購物商場、主題遊樂園和藝術生態於一體的多元化渡假休閒勝地。</p>

    <p>雖坐擁名山勝地，交通卻是相當便捷，緊鄰高雄市區，距離高鐵站僅有20分鐘的車程。飯店擁有656間各式高級客房、5間中西料理餐廳、20間多功能會議及宴會場地、兒童俱樂部及時尚水療設施，還有亞洲唯一的“夢之湖”高科技影音聲光秀。</p>

    <p>而多元化的房型選擇，更可以滿足不同的住宿需求，結合環保意識的綠建築，是為提供您永續度假的小小體貼心意。每間房都特別設計獨立陽台，讓您盡覽美麗風光，房內並備有液晶電視、免費網際網路、乾濕分離衛浴等現代化設施，以及舒適寬敞的客房設計，讓賓客身心得以徹底放鬆。此外，住宿於皇家貴賓樓層，您可以享受到我們為您準備的各項禮遇及專屬服務。</p>

    <p>五大特色餐廳由世界頂尖大廚齊聚一堂，為您提供豐富的國際料理饗宴：您可一邊享用星亞自助餐中西式美食；一邊從挑高落地窗欣賞夢之湖美景；或在皇樓與親友同事齊聚一堂，設宴品饗正宗廣式料理；想念讓胃微笑的美食，就走進義大利時尚餐廳點一份由主廚巧妙構思、創意十足的義式美饌；或在The Cut牛排屋鐵板燒歡樂的嘉年華氣氛中，享受帥氣廚師巧手賦予頂級食材現代料理新靈魂；想賞味產地直送新鮮嚴選的日式佳餚，一定要去柳町日本料理；位於大廳角落的烘培坊，每日供應新鮮麵包、蛋糕與甜點與五彩繽紛的甜蜜幸福。</p>

    <p>兩千坪以上的休閒設施包羅萬象，在放鬆的氛圍中提供絕佳的健康體驗。設施包括：健身房、三溫暖、皇家E Spa、時尚水療、戶外親子戲水區、網球場及專為兒童規劃的兒童俱樂部等。斥資上億打造的“夢之湖”，震撼的聲光水影絢麗舞動，是戶外派對、時尚秀及浪漫婚禮舉辦的絕佳場地。</p>

    <p>飯店的兩間大型宴會廳各可容納六百多人，是大型聚會、活動的最佳選擇；其中全台首見挑高21公尺的皇家宴會廳，最適合舉行豪華的世紀婚禮。另有許多的多功能會議廳，可以根據賓客的不同需求而量身規劃會議，是各種演講、座談會、產品發表會及商務會議等活動的理想選擇。</p>

    <p>另外飯店提供貼心的專業婚禮策劃服務，專業的皇家婚禮經理將會為即將步入結婚殿堂的新人們打造一場別開生面的結婚慶典，締造賓主盡歡的成功宴席。</p>
</div>
{% end %}
