{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">住宿資訊</h2>
	<div class="tab demo">
		<div class="ui secondary menu">
			<a data-tab="first" class="item active">住宿</a>
			<a data-tab="second" class="item">旅遊景點</a>
		</div>
		<div data-tab="first" class="ui tab segment active">
			<h2><a href="http://www.edaroyal.com.tw/" target="_blank">義大皇家酒店</a></h2>
			<div class="container" style="">
				<div style="width: 20%; float: left;position: relative; margin-right: 15px;">
					<img src="/royal.jpg" style="max-width: 100%;"/>
				</div>
				<div style="width: 62%; position:relative;">
					<p>義大皇家酒店，環抱觀音山綿延綠意明媚風光，是全台唯一結合休閒度假飯店、大型購物商場、主題遊樂園和藝術生態於一體的多元化渡假休閒勝地。</p>

					<p>雖坐擁名山勝地，交通卻是相當便捷，緊鄰高雄市區，距離高鐵站僅有20分鐘的車程。飯店擁有656間各式高級客房、5間中西料理餐廳、20間多功能會議及宴會場地、兒童俱樂部及時尚水療設施，還有亞洲唯一的“夢之湖”高科技影音聲光秀。 <a href="/venue/royal">more...</a></p>
				</div>
			</div>
			<br>
			<h2><a href="http://www.edaskylark.com.tw/" target="_blank">義大天悅飯店</a></h2>
			<div class="container" style="">
				<div style="width: 20%; float: left;position: relative; margin-right: 15px;">
					<img src="/skylard.jpg" style="max-width: 100%;"/>
				</div>
				<div style="width: 60%; position:relative;">
					<p>義大天悅飯店經國道十號仁武交流道下，經水管路轉入義大二路約五分鐘的車程即可抵達，飯店至高鐵左營站約需18 分鐘，至小港機場只需 25 分鐘，地理位置便利，不論是要到高雄市之各觀光景點均能快速抵達。</p>
					<p>飯店內共規劃有 358 間可彈性規劃之各式客房，並設有充滿異國風味的義大百匯餐廳、天悅咖啡廳及獨具特色之優雅戶外花園餐廳。   <a href="/venue/skylard">more...</a></p>
				</div>
			</div>
			<br>
			<h2><a href="http://internationalhouse.isu.edu.tw/" target="_blank">義大國際學舍</a></h2>
			<div class="container" style="">
				<div style="width: 20%; float: left;position: relative; margin-right: 15px;">
					<img src="/isu.jpg" style="max-width: 100%;min-width: 100%;"/>
				</div>
				<div style="width: 60%; position:relative;">
					<p>義大國際學舍 I 館座落於高雄市大樹區 ，為地下兩層、地上六層之建築，擁有131間客房，包含107間標準雙床房，24間豪華單床房，高雅簡樸的裝潢設計 ，讓旅客一走進大廳就有賓至如歸的感覺，備有健身房、小型會議室、電子商務中心、撞球 & 桌球室及自助洗衣間等飯店公共設施。 <a href="/venue/isu">more...</a></p>
				</div>
			</div>
		</div>
		<div data-tab="second" class="ui tab segment">廠商一覽表
		</div>
	</div>
</div>
{% end %}
