{% extends '../http/index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="intro.css">
{% end %}
{% block content %}
<div class="example">
	<h2 class="ui header">義大皇家酒店</h2>
    <p>義大天悅飯店座落義大世界園區，緊臨義守大學及義大國際國中小旁，飯店以英式新古典建築及典雅室內風格呈現，與義大遊樂世界及義大世界購物廣場三方攜手，改變台灣的休閒場景，為全台灣唯一集遊樂、購物、觀光之渡假休閒飯店。</p>
    <p>義大天悅飯店經國道十號仁武交流道下，經水管路轉入義大二路約五分鐘的車程即可抵達，飯店至高鐵左營站約需18 分鐘，至小港機場只需 25 分鐘，地理位置便利，不論是要到高雄市之各觀光景點均能快速抵達。</p>
    <p>飯店內共規劃有 358 間可彈性規劃之各式客房，並設有充滿異國風味的義大百匯餐廳、天悅咖啡廳及獨具特色之優雅戶外花園餐廳，另有多功能宴會設備之悅宴廳，時尚典雅的宴會廳，及方正格局一流設備之悅來會議廳，無論各式會議或教育訓練，皆能輕鬆完美進行，讓您打造與眾不同的獎勵會議旅遊，而義大百匯餐廳內並設置有 VIP 包廂，讓貴賓能享有隱密的用餐環境，期待以親切的服務、全新完善的設備及美味的料理，提供您最佳休閒住宿的新選擇，處處展現精緻的品味，讓遠離城市的旅人能放鬆心情，放慢腳步享受愜意時光。</p>
</div>
{% end %}
